<Configuration>
  <MainWindowTop>225</MainWindowTop>
  <MainWindowLeft>560</MainWindowLeft>
  <MainWindowWidth>800</MainWindowWidth>
  <MainWindowHeight>600</MainWindowHeight>
  <MainWindowMaximaged>false</MainWindowMaximaged>
  <ShowGid>true</ShowGid>
  <GridSize>16</GridSize>
  <ImageEditorMouseMode>LeftSetRightUnset</ImageEditorMouseMode>
  <BackupCreationMode>Extended</BackupCreationMode>
  <CheckForApplicationUpdates>true</CheckForApplicationUpdates>
  <CheckForPatchesUpdates>true</CheckForPatchesUpdates>
  <CheckForDefinitionsUpdates>true</CheckForDefinitionsUpdates>
  <MostRecentlyUsed>
    <Item>C:\Users\rob.rogers-admin\Dna200Settings\DNA200Settings\Nfirmware\NFirmwareEditor-v6.0.26\Cuboid_Mini_V5.04.bin</Item>
  </MostRecentlyUsed>
  <DeviceMonitorSeries>
    <Item>
      <Key>
        <string>BATT</string>
      </Key>
      <Value>
        <boolean>true</boolean>
      </Value>
    </Item>
    <Item>
      <Key>
        <string>RPWR</string>
      </Key>
      <Value>
        <boolean>true</boolean>
      </Value>
    </Item>
    <Item>
      <Key>
        <string>SPWR</string>
      </Key>
      <Value>
        <boolean>true</boolean>
      </Value>
    </Item>
    <Item>
      <Key>
        <string>RTEMP</string>
      </Key>
      <Value>
        <boolean>true</boolean>
      </Value>
    </Item>
    <Item>
      <Key>
        <string>STEMP</string>
      </Key>
      <Value>
        <boolean>true</boolean>
      </Value>
    </Item>
    <Item>
      <Key>
        <string>CUR</string>
      </Key>
      <Value>
        <boolean>true</boolean>
      </Value>
    </Item>
    <Item>
      <Key>
        <string>VOUT</string>
      </Key>
      <Value>
        <boolean>true</boolean>
      </Value>
    </Item>
    <Item>
      <Key>
        <string>RES</string>
      </Key>
      <Value>
        <boolean>true</boolean>
      </Value>
    </Item>
    <Item>
      <Key>
        <string>RESM</string>
      </Key>
      <Value>
        <boolean>true</boolean>
      </Value>
    </Item>
    <Item>
      <Key>
        <string>BRD</string>
      </Key>
      <Value>
        <boolean>true</boolean>
      </Value>
    </Item>
  </DeviceMonitorSeries>
</Configuration>